* {
    margin: 0;
    padding: 0;
    border: 0;
}
.color, .pixel {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.pixel {
    background-color: white;
}
/* .line {
    font-size: 0;
}
 */
.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}